body {
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 250px;
  min-height: 350px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 10px;
}

.img {
  width: 250px;
  height: 175px;
}

.product-img {
  width: 250px;
  height: 175px;
  object-fit: contain;
  cursor: pointer;
}
.product-details {
  padding: 10px;
  height: 120px;
}
.product-name {
  display: block;
  font-weight: bold;
  font-size: 15px;
}
.product-category {
  display: block;
  margin-top: 5px;
}

.stars {
  margin-top: 5px;
}

.rating-count {
  margin-top: 5px;
}

.star {
  color: gold;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.buy-btn {
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
  background-color: blueviolet;
  border: 0px;
  border-radius: 10px;
  height: 40px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  cursor: pointer;
}
